body{
  text-align: center;
}
.column-1 {
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 730px;
    background-color: #333;
    line-height:2;
    border-radius: 20px;
    margin-left: 330px;
  }

  h2{
    color:white;
  }

  h3, p{
    color:white;
  }

  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
  }

  ul li{
    text-align: left;
    font-size: 32px;
    color:white;
    display: block;
  }

  li a{
    float:left;
    display: block;
    padding: 10px 10px;
    font-size:24px;
    text-align: center;
    border-right: white solid 1px;
    text-decoration: none;
    color: white;
  }

  li a:hover{
    background-color: white;
  }

  .page-color{
    background-color: beige;
  }

.ordered1{
  font-size: 40px;
  margin-right: 40px;
}
.ordered2{
  text-align: center;
  font-size: 40px;
  color:white;
}

.widgets{
  padding: 10px;
}

.insta{
  margin-right: 120px;
  float: left;
  margin-left: 380px;
}

.date{
  width: 300px;
  padding: 40px;
  height: 300px;
  margin:30px;
  background-color: #333;
  line-height:2;
  border-radius: 20px;
  float: left;
}

img{
  margin-right: 40px;
}
